# Padroniza todos os arquivos de texto para LF no repositório,
# mas converte automaticamente para CRLF no Windows
* text=auto

# Arquivos específicos com final de linha LF
*.sh text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.md text eol=lf

# Evita problemas com lockfiles
package-lock.json text eol=lf